.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------ Style CSS ------------------- */

.btn-custom {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
span.fa {
  margin-right: 5px;
}
span.fa-caret-square-o-down {
  margin-left: 5px;
}
.panel-body {
  text-align: left;
}
span.fa.fa-times-circle.text-right {
  float: right;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
span.fa.fa-times-circle.text-right:hover {
  color: orange;
  transform: scale(1.8);
}
h3.panel-title {
  display: inline-block;
}
span.label.label-success,
span.label.label-danger {
  cursor: pointer;
}

.sort-selected::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-weight: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}
div {
	color: orchid;
}